<a href="{{profileLink.url}}" target="_blank" class="profile-link-button btn btn-default" aria-label="{{profileLink.ariaLabel}}">
  <img src="{{profileLink.icon}}" alt="{{profileLink.altText}}" class="profile-icon" aria-hidden="true">
  {{profileLink.username}}
</a>
